/* Your glorious CSS here */

.eachNote {
  border-style: groove;
  float: left;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  /*height: 150px;*/
}

.mainNote {
  margin-top:40px;
  border-style: groove;
  padding: 10px;
}

.newButton {
  float:right;

}

.form-group {
  margin-top:30px;
}


.btn-success {
  margin-top: -57px;
}

.deleteButton {
  float:right;
}

.noteTitle {
  display: inline-block;
}

.btn-info {
  float:right;
  margin-top: -37px;
}

