/* Your glorious CSS here */
body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/b2/d3/a3/b2d3a3164a14ca00958731907e5daf0b.jpg)
}

.eachNote {
  border-style: groove;
  float: left;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  /*height: 150px;*/
}

.mainNote {
  margin-top:40px;
  border-style: groove;
  padding: 10px;
}

.newButton {
  float:right;

}

.form-group {
  margin-top:30px;
}


.btn-success {
  margin-top: -57px;
}

.deleteButton {
  float:right;
}

.noteTitle {
  display: inline-block;
}

.btn-info {
  float:right;
  margin-top: -37px;
}

